<% layout("layouts/boilerplate") %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form class="validated-form" action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                    <div class="invalid-feedback">
                        Please enter a Title
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                    <div class="invalid-feedback">
                        Please enter a Location
                    </div>
                </div>

                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" class="form-control" id="image" name="campground[image]" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                    <div class="invalid-feedback">
                        Please enter an Image URL
                    </div>
                </div> -->
                <div class="input-group mb-3">
                    <span class="input-group-text">Description</span>
                    <textarea class="form-control" aria-label="With textarea" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                    <div class="invalid-feedback">
                        Please enter a Description
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="Number" class="form-control" name="campground[price]" required><span
                        class="input-group-text">.00</span>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                    <div class="invalid-feedback">
                        Please enter a Price
                    </div>

                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Upload your images:</label>
                        <input name="images" class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
                </div>
                <div class="mb-3"><button type="submit" class="btn btn-success">Submit</button></div>
            </form>
            <a href="/campgrounds" class="btn btn-primary">Home</a>
        </div>
    </div>